@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: url("images/backgroundimg.png");
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.cabeçalho-titulo{
    height: 58px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 22;
}
.cabeçalho-menu{
    display: flex;
    gap: 32px;
}
.cabeçalho-item{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15;
}
.cabeçalho-logar{
    display: flex;
    justify-content: space-evenly;
}
.cabeçalho-logar-imagem{
    width: 20%;
    height: 20%;
}
.cabeçalho-menu-item-botao{
    background-color: white;
    width: 100px;
    height: 30px;
    color: #2F356D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.corpo{
    width: 100%;
    height: 100%;
    display: flex;

}
.corpo-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 120vh;
    display: flex;

   
}
.corpo-form-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding-bottom: 0px;


}
.corpo-form-header-title{
    font-family: 'Open Sans';
    color: #fff;
}

.corpo-form-header-button button{
    background-color: #2F356D;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.corpo-form-header-button button:hover{
    background-color: #6C63FF;
}
.corpo-form-header-button button a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-family: 'Open Sans';
}

.corpo-form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6C63FF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.corpo-input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20%;
    padding-top: 5%;

}
.corpo-input-group-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.corpo-input-group-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.corpo-input-group-box input:hover{
    background-color: #eeeeee75;
}
.corpo-input-group-box input:focus-visible{
    outline: 1px solid #6C63FF;
}
.corpo-input-group-box label{
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
    font-family: 'Open Sans';
    color: #fff;
}
.corpo-input-group-box input::placeholder{
    color: #000000be;
}